body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1.5px solid black;
  height: 65px;
  padding: 10px;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  text-align: center;
  border-radius: 15px;
  background-color: #d3d3d3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1px

}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
  padding: 24px;
  padding-left: 5px;
  padding-right: 5px;
  width: 100px;
}

.past {
  background-color: #d3d3d3;
  color: rgb(0, 0, 0);
}

.present {
  background-color: #ff9100;
  color: white;
}

.future {
  background-color: #5dae5d;
  color: white;
}

.saveBtn {
  border-left: 1.5px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06aed5;
  border: none;
  color: white;
  padding: 24px;
  padding-left: 10px;
}

/* Styles for button icon */

.saveBtn i {
  width: 30px;
}

.saveBtn:hover{
  background-color: #066b81;
}


/* Delete button styles */

.deleteBtn {
  background-color: #d5061b;
  border: none;
  color: white;
  padding: 24px;
  padding-left: 10px;
  padding-right: 10px;
}

.deleteBtn:hover {
  background-color:#850713;
}

#clear {
  background-color: #d5061b;
  border: none;
  color: white;
  padding: 10px;
  border-radius: 10px;
  margin-top: 30px;
}

#clear:hover {
  background-color:#850713;
}

/* Footer styles */

footer {
  display: flex;
  padding: 30px;
  font-size: small;
  justify-content: space-between;
  align-items: center;
  margin-left: 50px;
  margin-right: 50px;
}

#Contact_list {
  display: flex;
  align-items: center;
  justify-items: space-between;
  list-style-type: none;
  margin-bottom: 0px;

  }

#Contact_list li {
  padding: 10px
}

#Contact_list li a {
  padding: 5px;
  color:  #06aed5;
}